<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>smartTODO</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/boards.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK9KGVsj13oDFAXoWJoNguMVkqnEZ9GY0&libraries=places"></script>
</head>
<body>
  <header>
  <!--<style>
      html, #map {
        height: 20em;
        width: 40em;
        padding: 10px;
        margin: 10px;
      }
    </style>-->
      <nav class="nav has-shadow columns is-desktop" id="top">
          <h1 class="column is-one-quarter"> SmartTODO</h1>
          <div class="column">
            <div class='what-todo-box-bg'>
              <i class="fa fa-times-circle todo-close" aria-hidden="true"></i>
              <i class="fa fa-plus todo-add" aria-hidden="true"></i>
            <div class="wrapper">
              <input class="input is-large" id="what-todo-box" type="text" name="todo" placeholder="What would you like to do?" >
                <button class="mic"><i class="fa fa-microphone fa-4x" aria-hidden="true"></i></button>
            </div>
            </div>
          </div>
          <div class="column is-one-quarter">
               <button class="login button is-primary is-large" type="button"><% if (loggedIn) { %>Logout<% }else { %>Login<% } %></button>
          </div>
    </nav>
  </header>

  <div class="deleter-container columns">
    <div class="deleter-flash column is-4">
      <h4>Are You Sure You Want To Delete:</h4>
      <p></p>
      <div>
        <button class="yesbutton"><i class="fa fa-thumbs-o-up fa-5x"></i></button>
        <button class="nobutton"><i class="fa fa-thumbs-o-down fa-5x"></i></button>
      </div>
    </div>
  </div>

  <main>
      <section class="columns is-desktop categories">

          <script type="x-handlebarsjs-stuff" id="category-html">

          <section class="column is-3 box cat-column">
            <section data-id="{{id}}">
              <header>
                <h3 class="category-title">{{name}}</h3>
                <h3 class="count cat-number">0</h3>
              </header>
              <ul class="todo-wrapper" id="catsort{{id}}">
              </ul>
            </section>
          </section>

          </script>

          <script type="x-handlebarsjs" id="todo-html">
                <li class="box post" data-id="{{id}}" data-rank="{{rank}}">
                  <input type="checkbox" id="todo-{{id}}" class="todo-check"{{#if completed}} checked {{/if}}/>
                  <label for="todo-{{id}}"class="check_item">{{title}}</label>
                 <div class="ed-buttons">
                  <button class="edit"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="trash"><i class="fa fa-trash-o"></i></button>
                 </div>
                 <div class="change-save">
                  <button class="change"><i class="fa fa-exchange"></i></button>
                  <form><input type="text" name="edit"></form><button class="change"><i class="fa fa-floppy-o"></i></button>
                 </div>
                </li>
          </script>
          

        <script id="loggedout-html" type="x-random-type">
          <section class="columns power">
            <i class="fa fa-power-off column is-8" aria-hidden="true"></i>
          </section>
        </script>
    </section>
  </main>
  <!-- <div id="map"></div>-->


   <script>
//     var map;
//     var infowindow;
//     //initializes map and centers onto Vancouver
//     function initialize() {
//       var center = new google.maps.LatLng(49.281422, -123.12303);
//         map = new google.maps.Map(document.getElementById('map'), {
//         center: center,
//         zoom: 14
//       });

//     var request = {
//     location: center,
//     radius: 4000,
//     types: ['restaurant'],
//     openNow: true
//   };

// infowindow = new google.maps.InfoWindow();
//   var service = new google.maps.places.PlacesService(map);

// service.nearbySearch(request, callback);
// }
// function callback(results, status) {
//   if (status == google.maps.places.PlacesServiceStatus.OK) {
//   for (var i = 0; i < results.length; i++) {
//     createMarker(results[i]);
//     }
//   }
// }

// function createMarker(place) {
//   var placeLoc = place.geometry.location;
//   var marker = new google.maps.Marker({
//       map: map,
//       position: place.geometry.location
//     });

// google.maps.event.addListener(marker, 'click', function() {
// infowindow.setContent(place.name + "<br />" + place.vicinity + "<br />" + "Rating: " + place.rating + "<br />");
//     infowindow.open(map, this);
//   });
// }

// google.maps.event.addDomListener(window, 'load', initialize);
// </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="/scripts/bulma.js"></script>
  <script type="text/javascript" src="/scripts/boards.js"></script>
  <script type="text/javascript" src="/scripts/users.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
