<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>todo list</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/styles/boards.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>
<body>
  <header>
      <nav class="nav has-shadow columns is-desktop" id="top">
          <h1 class="column is-one-quarter"> Smart TODO</h1>
          <div class="column">
            <div class='what-todo-box-bg'>
              <i class="fa fa-times-circle todo-close" aria-hidden="true"></i>
              <i class="fa fa-plus todo-add" aria-hidden="true"></i>
              <input class="input is-large" id="what-todo-box" type="text" name="todo" placeholder="What would you like to do?" ><br>
            </div>
          </div>
          <div class="column is-one-quarter">
               <button type="button">Login</button>
          </div>
    </nav>
  </header>
  <main>
      <section class="columns is-desktop categories">
              
          <section class="column is-3 box cat-column">
            <section data-id="1">
              <header>
                <h3 class="category-title">To Watch</h3>
                <h3 class="count">1</h3>
              </header>
              <ul class="box">
                <li data-id="1" data-rank="1">
                  <input type="checkbox" class="todo-check"/>
                  <label class="check_item"> todo title </label>
                  <button class="edit"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="trash"><i class="fa fa-trash-o"></i></button>
                </li>
              </ul>
            </section>
          </section>

          <section class="column is-3 box cat-column">
            <section data-id="2">
              <header>
                <h3 class="category-title">To Read</h3>
                <h3 class="count">2</h3>
              </header>
              <ul class="box">
                <li data-id="1" data-rank="1">
                  <input type="checkbox" class="todo-check"/>
                  <label class="check_item"> todo title </label>
                  <button class="edit"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="trash"><i class="fa fa-trash-o"></i></button>
                </li>
              </ul>
            </section>
          </section>

           <section class="column is-3 box cat-column">
            <section data-id="3">
              <header>
                <h3 class="category-title">To Eat</h3>
                <h3 class="count">3</h3>
              </header>
              <ul class="box">
                <li data-id="1" data-rank="1">
                  <input type="checkbox" class="todo-check"/>
                  <label class="check_item"> todo title </label>
                  <button class="edit"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="trash"><i class="fa fa-trash-o"></i></button>
                </li>
              </ul>
            </section>
          </section>

          <section class="column is-3 box cat-column">
            <section data-id="4">
              <header>
                <h3 class="category-title">To Buy</h3>
                <h3 class="count">4</h3>
              </header>
              <ul class="box">
                <li data-id="1" data-rank="1">
                  <input type="checkbox" class="todo-check"/>
                  <label class="check_item"> todo title </label>
                  <button class="edit"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="trash"><i class="fa fa-trash-o"></i></button>
                </li>
              </ul>
            </section>
          </section>

          <!--<div class="column is-3 board" id="b1">
            <div class="box is-gray">
              <div class="head">
                <div class="name">Watch</div>
                <div class="count">1</div>
              </div>
              <div class="items">
                <ul class="box" id="b1c1">
                  <li><label><input type="checkbox"/> test item</label></li>
                  <button class="edit"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="trash"><i class="fa fa-trash-o"></i></button>
                </ul>
            </div>
          </div>
        </div>
        
          <div class="column is-3 board" id="b1">
            <div class="box is-gray">
              <div class="head">
                <div class="name">Watch</div>
                <div class="count">1</div>
              </div>
              <div class="items">
                <ul class="box" id="b1c1">
                  <li><label><input type="checkbox"/> test item</label></li>
                  <button class="edit"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="trash"><i class="fa fa-trash-o"></i></button>
                </ul>
            </div>
          </div>
        </div>-->

    </section>
  </main>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
  <script type="text/javascript" src="/scripts/bulma.js"></script>
  <script type="text/javascript" src="/scripts/boards.js"></script>
  <script type="text/javascript" src="/scripts/users.js"></script>
</body>
</html>
