body {
  background-color: #EEE;
  position: relative;
  font-size: 16px;
}

/* HEADER */
body > header {
  position: fixed;
  width: 100%;
  top: 0;
}

body > header h1 {
  color: #244751;
  font-size: 2em;
  padding-right: 0;
}

body > header .nav {
  align-items: center;
}

body > header .nav.columns {
  margin-top: 0;
}

/* WHAT TO DO BOX */
.what-todo-box-bg .fa-plus {
  display: none;
}

.what-todo-box-bg .fa-times-circle {
  display: none;
}

.what-todo-box-bg.active {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.what-todo-box-bg.active #what-todo-box {
  width: 75%;
  height: 100px;
  top: 5em;
  transform: translateY(-50%);
  font-size: 50px;
}

.what-todo-box-bg.active .fa-plus {
  display: inline-block;
  position: absolute;
  top: 5.1em;
  right: 60px;
  font-size: 50px;
  color: #fff;
  transition: .3s all ease-in-out;
}

.what-todo-box-bg.active .fa-plus:hover {
  color: mediumspringgreen;
}

.what-todo-box-bg.active .fa-times-circle {
  display: inline-block;
  position: absolute;
  top: 4em;
  right: 60px;
  font-size: 50px;
  color: #fff;
  transition: .3s all ease-in-out;
}

.what-todo-box-bg.active .fa-times-circle:hover {
  color: #ab1c1c;
}

#what-todo-box {
  transition: .3s all ease-in-out;
  top: 0;
  font-style: italic;
}

#what-todo-box:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

main {
  margin-top: 7em;
  padding: 1em;
}
