
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.boards {
  padding:40px 0;
}

.items .box .title {
  font-size: 19px;
}

.box {
  padding: 0.5rem;
  margin: 0.1rem;
}

.box .post:hover {
  background-color: #b5b5b5;
  .ed-buttons{
    display:block;
  }
}

.trash:hover{
  background-color: #b5b5b5;
}

.edit:hover{
  background-color: #b5b5b5;
  .change-save{
    display:block;
  }
}

.ed-buttons{
  display: none;
}

.change-save{
  display: none;
}

.deleter-flash{
  display:none;
  position:absolute;
}

.deleter-active{
  display:block;
}

.todo-check:checked + .check_item {
 text-decoration:line-through;
 opacity: 0.5;
 z-index: 0;
}

.column.is-3{
  background-color: #6fde96;
  flex: auto;
  display:inline-block;
}

.category-title {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #2C2C30;
}

header .count {
  float: right;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: dimgray;
}

main .columns {
  display: inline-flex;
  border: 0.5em
}

.box:last-child {
  margin-bottom: 1.5rem;
}

.box .post{
  margin-bottom:0.5em;
  transition-duration: 0.5s;
}

.category-button:active{
  display:flex;
  flex-wrap:wrap;

  header .count{
    display:none;
  }
  .box .post{
    display:none;
  }
  .columns .column header{
    justify-content:center;
    align-items: center;
  }
}