body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.boards {
  padding:40px 0;
}

.boards .board .box.is-gray {
  background-color: #6fde96;
}

.boards .board .box .items {
  padding: 20px 0;
  font-size: large;
}
.boards .box:hover {
  background-color: #b5b5b5;
}

.box .head .name {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #2C2C30;
}

.box .head .count {
  float: right;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #AAAAAA;
}

.box .head .options {
  display: inline-block;
  float: right;
  padding-top:7px;
  color: #2C2C30;
}

.items .box .title {
  font-size: 19px;
}

.box {
  padding: 0.5rem;
}

@import '_users.scss';
